<html>
<head>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>



</head>
<body>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
  <tr th:each="contact : ${contacts}">
      <th scope="row" th:text="${contact.id}"></th>
      <td th:text="${contact.name}"></td>
       <td th:text="${contact.phonenumber}"></td>
        <td th:text="${contact.address}"></td>
    <tr/>
    
  </tbody>
</table>
		
		
		
</div>
</body>
</html>